.project-row div div h3 {
	font-size:3.2rem;
}
.project-row div .projects_wrapper_left {
	text-align:center;
}
.project-row div .projects_wrapper_right {
	margin-left:2rem;
	margin-right:2rem;
}
.swiper-button-prev {
	left:25px;
}
.swiper-button-next {
	right:25px;
}