.project-row div div h3 {
	font-size:3.2rem;
}
.project-row div .projects_wrapper_left {
	text-align:center;
}
.project-row div .projects_wrapper_right {
	margin-left:2rem;
	margin-right:2rem;
}
.project-row {
	margin-top:15px;
}
.swiper-slide {
	width:100%;
}
.swiper-button-prev {
	left:2%;
}
.swiper-button-next {
	right:2%;
}
@media only screen and (max-width: 640px) {
	.swiper-button-prev {
		left:2%;
	}
	.swiper-button-next {
		right:2%;
	}
}