/* Headlines */
h1, h2, h3, h4, h5, h6 {
	letter-spacing: unset;
}

/* Buttons */
a.button.button-outline {
	color:#000;
}
a.button.button-outline:hover {
	background-color:#353535;
	color:#fff;
}
.button{
	height:4rem;
}
.button:hover{
	background-color:#464646;
}
.button-black{
	background-color: black;
	border-color: black;
}
.button-dark {
	background-color: rgb(47, 47, 47);
    border-color: rgb(47, 47, 47);
}
.button-green{
 	background-color: rgb(52, 148, 60);
    border-color: rgb(52, 148, 60);
}
.button-blue{
	background-color: rgb(47, 108, 223);
    border-color: rgb(47, 108, 223);
}
.button-blue:hover {
	background-color: rgb(33, 87, 189);
	border-color: rgb(33, 87, 189);
}

/* Icons */
i.icon {
	width: 24px;
    height: 24px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}
.icon_email {
	background-image: url('../img/icon/envelope.svg');
	background-size: 14px;
}
.icon_github {
	background-image: url('../img/icon/github.svg');
	background-size: 26px;
}
.icon_preview {
	background-image: url('../img/icon/external-link-alt.svg');
}
.icon_noblock_linkedin {
	background-image: url('../img/icon/linkedin.svg');
	background-size: 24px;
}
.icon_resume {
	background-image: url('../img/icon/file-alt.svg');
	background-size: 12px;
}
